.t1 {
  color: #000000;
  background-color: #ce1126;
}
.t2 {
  color: #00539b;
  background-color: #f47d30;
}
.t3 {
  color: #0033a0;
  background-color: #c8102e;
}
.t4 {
  color: #000000;
  background-color: #f74902;
}
.t5 {
  color: #000000;
  background-color: #fcb514;
}
.t6 {
  color: #000000;
  background-color: #ffb81c;
}
.t7 {
  color: #ffb81c;
  background-color: #003087;
}
.t8 {
  color: #af1e2d;
  background-color: #192168;
}
.t9 {
  color: #b79257;
  background-color: #da1a32;
}
.t10 {
  color: #ffffff;
  background-color: #00205b;
}
.t12 {
  color: #ffffff;
  background-color: #ce1126;
}
.t13 {
  color: #041e42;
  background-color: #c8102e;
}
.t14 {
  color: #ffffff;
  background-color: #002868;
}
.t15 {
  color: #c8102e;
  background-color: #041e42;
}
.t16 {
  color: #000000;
  background-color: #cf0a2c;
}
.t17 {
  color: #ffffff;
  background-color: #ce1126;
}
.t18 {
  color: #ffb81c;
  background-color: #041e42;
}
.t19 {
  color: #fcb514;
  background-color: #0000ff;
}
.t20 {
  color: #faaf19;
  background-color: #d2001c;
}
.t21 {
  color: #a2aaad;
  background-color: #6f263d;
}
.t22 {
  color: #ff4c00;
  background-color: #041e42;
}
.t23 {
  color: #00843d;
  background-color: #00205b;
}
.t24 {
  color: #000000;
  background-color: #f47a38;
}
.t25 {
  color: #8f8f8c;
  background-color: #006847;
}
.t26 {
  color: #a2aaad;
  background-color: #111111;
}
.t28 {
  color: #ea7200;
  background-color: #006d75;
}
.t29 {
  color: #ce1126;
  background-color: #002654;
}
.t30 {
  color: #a6192e;
  background-color: #154734;
}
.t52 {
  color: #55565a;
  background-color: #041e42;
}
.t53 {
  color: #e2d6b5;
  background-color: #8c2633;
}
.t54 {
  color: #b4975a;
  background-color: #333f42;
}
.t55 {
  color: #99d9d9;
  background-color: #001628;
}
.tNJD {
  color: #000000;
  background-color: #ce1126;
}

.tNYI {
  color: #00539b;
  background-color: #f47d30;
}

.tNYR {
  color: #0033a0;
  background-color: #c8102e;
}

.tPHI {
  color: #000000;
  background-color: #f74902;
}

.tPIT {
  color: #000000;
  background-color: #fcb514;
}

.tBOS {
  color: #000000;
  background-color: #ffb81c;
}

.tBUF {
  color: #ffb81c;
  background-color: #003087;
}

.tMTL {
  color: #af1e2d;
  background-color: #192168;
}

.tOTT {
  color: #b79257;
  background-color: #da1a32;
}

.tTOR {
  color: #ffffff;
  background-color: #00205b;
}

.tCAR {
  color: #ffffff;
  background-color: #ce1126;
}

.tFLA {
  color: #041e42;
  background-color: #c8102e;
}

.tTBL {
  color: #ffffff;
  background-color: #002868;
}

.tWSH {
  color: #c8102e;
  background-color: #041e42;
}

.tCHI {
  color: #000000;
  background-color: #cf0a2c;
}

.tDET {
  color: #ffffff;
  background-color: #ce1126;
}

.tNSH {
  color: #ffb81c;
  background-color: #041e42;
}

.tSTL {
  color: #fcb514;
  background-color: #0000ff;
}

.tCGY {
  color: #faaf19;
  background-color: #d2001c;
}

.tCOL {
  color: #a2aaad;
  background-color: #6f263d;
}

.tEDM {
  color: #ff4c00;
  background-color: #041e42;
}

.tVAN {
  color: #00843d;
  background-color: #00205b;
}

.tANA {
  color: #000000;
  background-color: #f47a38;
}

.tDAL {
  color: #8f8f8c;
  background-color: #006847;
}

.tLAK {
  color: #a2aaad;
  background-color: #111111;
}

.tSJS {
  color: #ea7200;
  background-color: #006d75;
}

.tCBJ {
  color: #ce1126;
  background-color: #002654;
}

.tMIN {
  color: #a6192e;
  background-color: #154734;
}

.tWPG {
  color: #55565a;
  background-color: #041e42;
}

.tARI {
  color: #e2d6b5;
  background-color: #8c2633;
}

.tVGK {
  color: #b4975a;
  background-color: #333f42;
}

.tSEA {
  color: #99d9d9;
  background-color: #001628;
}
