---
import Team from '../Team/Team.astro';
import { teamsSelectedId } from '../../store/store';

let { activeTeams } = Astro.props;
const teamsSelectedIds = activeTeams
  .map((team, id) => {
    if (id < 5) {
      return team.id;
    }
  })
  .filter((t) => t);
teamsSelectedId.set(teamsSelectedIds);
---

<table>
  <tbody>
    <tr>
{
  teamsSelectedIds.length &&
    teamsSelectedIds.map((team, i) => (
      <>
              <td>
        <Team {teamsSelectedIds} {activeTeams} {i} />
              </td>
      </>
    ))
}
    </tr>
  </tbody>
</table>
