---
import Layout from '../layouts/Layout.astro'

import Body from '../components/Body/Body.astro'

const title = 'Sport Schedule USA'
---

<Layout {title}>
  <main>
    <h1>Welcome to <span class="text-gradient">{title}</span></h1>
    <Body />
  </main>
</Layout>
