---
import Layout from '../layouts/Layout.astro';
import axios from 'axios';
import fs from 'fs';

import Body from '../components/Body/Body.astro';

import lastSave from '../../nhlData.json';
const title = 'Sport Schedule USA';

const activeTeams = [];
try {
  const fetchTeams = await axios.get('https://api-web.nhle.com/v1/standings/now');

  const dataTeams = await fetchTeams.data.standings;
  dataTeams
    .sort((a, b) => (a.placeName?.default > b.placeName?.default ? 1 : -1))
    .forEach((team) => {
      const { teamAbbrev, teamName, teamLogo, placeName } = team;

      activeTeams.push({
        value: teamAbbrev?.default,
        id: teamAbbrev?.default,
        label: teamName?.default,
        teamLogo: teamLogo,
        teamAbbrev: teamAbbrev,
      });
    });
  fs.writeFileSync('nhlData.json', JSON.stringify(activeTeams));
} catch (error) {
  activeTeams.push(lastSave);
}
---

<Layout {title}>
  <main>
    <h1>Welcome to <span class="text-gradient">{title}</span></h1>
    {activeTeams.length && <Body {activeTeams} />}
  </main>
</Layout>

<style></style>
