---
import Layout from '../layouts/Layout.astro';
import axios from 'axios';
import fs from 'fs';
import Card from '../components/Card.astro'

import lastSave from '../../nhlData.json';
const title = 'Sport Schedule USA';
let dataTeams;
try {
  const fetchTeams = await axios.get('https://api-web.nhle.com/v1/standings/now');

  dataTeams = await fetchTeams.data.standings;
  fs.writeFileSync('nhlData.json', JSON.stringify(dataTeams));
  console.log('get data');
} catch (error) {
  console.log('fakeData', error);
  dataTeams = lastSave || [];
}

console.log(dataTeams);
---

<Layout {title}>
  <main>
    <h1>Welcome to <span class="text-gradient">{title}</span></h1>
    {dataTeams.map((team, i)=> <Card {team} {i} /> )}
  </main>
</Layout>

<style></style>
