---
import Layout from '../layouts/Layout.astro';

import Body from '../components/Body/Body.astro';

const title = 'USA Sport Schedule';
---

<Layout {title}>
  <main>
    <h1><span class="text-gradient">{title}</span></h1>
    <Body />
  </main>
</Layout>
