---
import Layout from '../layouts/Layout.astro';
import axios from 'axios';
import fs from 'fs';
import Card from '../components/Card.astro';

import lastSave from '../../nhlData.json';
const title = 'Sport Schedule USA';
let activeTeams;
try {
  const fetchTeams = await axios.get('https://api-web.nhle.com/v1/standings/now');

  const dataTeams = await fetchTeams.data.standings;
  activeTeams = dataTeams
    .map((team) => {
      team.value = team.teamAbbrev?.default;
      team.id = team.teamAbbrev?.default;
      team.label = team.teamName?.default;
      return team;
    })
    .sort((a, b) => (a.placeName?.default > b.placeName?.default ? 1 : -1));
  fs.writeFileSync('nhlData.json', JSON.stringify(activeTeams));
} catch (error) {
  activeTeams = lastSave || [];
}
---

<Layout {title}>
  <main>
    <h1>Welcome to <span class="text-gradient">{title}</span></h1>
    {activeTeams.length && activeTeams.map((team, i) => <Card {team} {i} />)}
  </main>
</Layout>

<style></style>
