---
import TeamCard from './Card/Card.tsx';
import Selector from './Selector/Selector.tsx';

const { i, activeTeams, teamsSelectedIds, teamSelectedId } = Astro.props;
const props = { i, activeTeams, teamsSelectedIds, teamSelectedId };
---

<div>
  <Selector {...props} client:load />
  <TeamCard id={i} {...props} client:load />
</div>
