---
import TeamCard from './Cards/Cards.tsx';
import Selector from './Selector/Selector.tsx';

const { i, activeTeams, teamsSelectedIds, teamSelectedId, teamsGames } = Astro.props;
const props = { i, activeTeams, teamsSelectedIds, teamSelectedId, teamsGames };
---

<div>
  <Selector {...props} client:load />
  <TeamCard id={i} {...props} client:load />
</div>
