.t1{color: #000000; background-color: #CE1126;}
.t2{color: #00539B; background-color: #F47D30;}
.t3{color: #0033a0; background-color: #c8102e;}
.t4{color: #000000; background-color: #F74902;}
.t5{color: #000000; background-color: #FCB514;}
.t6{color: #000000; background-color: #FFB81C;}
.t7{color: #FFB81C; background-color: #003087;}
.t8{color: #AF1E2D; background-color: #192168;}
.t9{color: #B79257; background-color: #DA1A32;}
.t10{color: #FFFFFF; background-color: #00205B;}
.t12{color: #FFFFFF; background-color: #CE1126;}
.t13{color: #041E42; background-color: #C8102E;}
.t14{color: #FFFFFF; background-color: #002868;}
.t15{color: #C8102E; background-color: #041E42;}
.t16{color: #000000; background-color: #CF0A2C;}
.t17{color: #FFFFFF; background-color: #CE1126;}
.t18{color: #FFB81C; background-color: #041E42;}
.t19{color: #FCB514; background-color: #0000FF;}
.t20{color: #FAAF19; background-color: #D2001C;}
.t21{color: #A2AAAD; background-color: #6F263D;}
.t22{color: #FF4C00; background-color: #041E42;}
.t23{color: #00843D; background-color: #00205B;}
.t24{color: #000000; background-color: #F47A38;}
.t25{color: #8F8F8C; background-color: #006847;}
.t26{color: #A2AAAD; background-color: #111111;}
.t28{color: #EA7200; background-color: #006D75;}
.t29{color: #CE1126; background-color: #002654;}
.t30{color: #A6192E; background-color: #154734;}
.t52{color: #55565A; background-color: #041E42;}
.t53{color: #E2D6B5; background-color: #8C2633;}
.t54{color: #B4975A; background-color: #333F42;}
.t55{color: #99D9D9; background-color: #001628;}
.tNJD {
    color: #000000;
    background-color: #CE1126;
}

.tNYI {
    color: #00539B;
    background-color: #F47D30;
}

.tNYR {
    color: #0033a0;
    background-color: #c8102e;
}

.tPHI {
    color: #000000;
    background-color: #F74902;
}

.tPIT {
    color: #000000;
    background-color: #FCB514;
}

.tBOS {
    color: #000000;
    background-color: #FFB81C;
}

.tBUF {
    color: #FFB81C;
    background-color: #003087;
}

.tMTL {
    color: #AF1E2D;
    background-color: #192168;
}

.tOTT {
    color: #B79257;
    background-color: #DA1A32;
}

.tTOR {
    color: #FFFFFF;
    background-color: #00205B;
}

.tCAR {
    color: #FFFFFF;
    background-color: #CE1126;
}

.tFLA {
    color: #041E42;
    background-color: #C8102E;
}

.tTBL {
    color: #FFFFFF;
    background-color: #002868;
}

.tWSH {
    color: #C8102E;
    background-color: #041E42;
}

.tCHI {
    color: #000000;
    background-color: #CF0A2C;
}

.tDET {
    color: #FFFFFF;
    background-color: #CE1126;
}

.tNSH {
    color: #FFB81C;
    background-color: #041E42;
}

.tSTL {
    color: #FCB514;
    background-color: #0000FF;
}

.tCGY {
    color: #FAAF19;
    background-color: #D2001C;
}

.tCOL {
    color: #A2AAAD;
    background-color: #6F263D;
}

.tEDM {
    color: #FF4C00;
    background-color: #041E42;
}

.tVAN {
    color: #00843D;
    background-color: #00205B;
}

.tANA {
    color: #000000;
    background-color: #F47A38;
}

.tDAL {
    color: #8F8F8C;
    background-color: #006847;
}

.tLAK {
    color: #A2AAAD;
    background-color: #111111;
}

.tSJS {
    color: #EA7200;
    background-color: #006D75;
}

.tCBJ {
    color: #CE1126;
    background-color: #002654;
}

.tMIN {
    color: #A6192E;
    background-color: #154734;
}

.tWPG {
    color: #55565A;
    background-color: #041E42;
}

.tARI {
    color: #E2D6B5;
    background-color: #8C2633;
}

.tVGK {
    color: #B4975A;
    background-color: #333F42;
}

.tSEA {
    color: #99D9D9;
    background-color: #001628;
}
