img {
  height: 25px;
}

.card {
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  opacity: 0.98;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.arena {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unclickable {
  display: flex;
  cursor: none;
  pointer-events: none;
  align-items: start;
  & .cardText {
    margin-top: 0;
  }
}

.selected {
  border: 1px solid black;
  opacity: 1;
  filter: brightness(135%);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.952);
  transform: scale(1.01);
}
