img {
  height: 25px;
}

.card {
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.arena {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unclickable {
  display: flex;
  cursor: none;
  pointer-events: none;
  align-items: start;
  & .cardText {
    margin-top: 0;
  }
}
