.tNHL-NJD {
  color: #000000;
  background-color: #ce1126;
}

.tNHL-NYI {
  color: #00539b;
  background-color: #f47d30;
}

.tNHL-NYR {
  color: #0033a0;
  background-color: #c8102e;
}

.tNHL-PHI {
  color: #000000;
  background-color: #f74902;
}

.tNHL-PIT {
  color: #000000;
  background-color: #fcb514;
}

.tNHL-BOS {
  color: #000000;
  background-color: #ffb81c;
}

.tNHL-BUF {
  color: #ffb81c;
  background-color: #003087;
}

.tNHL-MTL {
  color: #af1e2d;
  background-color: #192168;
}

.tNHL-OTT {
  color: #b79257;
  background-color: #da1a32;
}

.tNHL-TOR {
  color: #ffffff;
  background-color: #00205b;
}

.tNHL-CAR {
  color: #ffffff;
  background-color: #ce1126;
}

.tNHL-FLA {
  color: #041e42;
  background-color: #c8102e;
}

.tNHL-TBL {
  color: #ffffff;
  background-color: #002868;
}

.tNHL-WSH {
  color: #c8102e;
  background-color: #041e42;
}

.tNHL-CHI {
  color: #000000;
  background-color: #cf0a2c;
}

.tNHL-DET {
  color: #ffffff;
  background-color: #ce1126;
}

.tNHL-NSH {
  color: #ffb81c;
  background-color: #041e42;
}

.tNHL-STL {
  color: #fcb514;
  background-color: #0000ff;
}

.tNHL-CGY {
  color: #faaf19;
  background-color: #d2001c;
}

.tNHL-COL {
  color: #a2aaad;
  background-color: #6f263d;
}

.tNHL-EDM {
  color: #ff4c00;
  background-color: #041e42;
}

.tNHL-VAN {
  color: #00843d;
  background-color: #00205b;
}

.tNHL-ANA {
  color: #000000;
  background-color: #f47a38;
}

.tNHL-DAL {
  color: #8f8f8c;
  background-color: #006847;
}

.tNHL-LAK {
  color: #a2aaad;
  background-color: #111111;
}

.tNHL-SJS {
  color: #ea7200;
  background-color: #006d75;
}

.tNHL-CBJ {
  color: #ce1126;
  background-color: #002654;
}

.tNHL-MIN {
  color: #a6192e;
  background-color: #154734;
}

.tNHL-WPG {
  color: #55565a;
  background-color: #041e42;
}

.tNHL-UTA {
  color: #090909;
  background-color: #71afe5;
}

.tNHL-ARI {
  color: #e2d6b5;
  background-color: #8c2633;
}

.tNHL-VGK {
  color: #b4975a;
  background-color: #333f42;
}

.tNHL-SEA {
  color: #99d9d9;
  background-color: #001628;
}

.tNFL-22 {
  color: #a4113e;
  background-color: #ffffff;
}

.tNFL-1 {
  color: #a71930;
  background-color: #000000;
}

.tNFL-33 {
  color: #29126f;
  background-color: #000000;
}

.tNFL-2 {
  color: #00338d;
  background-color: #d50a0a;
}

.tNFL-29 {
  color: #0085ca;
  background-color: #000000;
}

.tNFL-3 {
  color: #0b1c3a;
  background-color: #e64100;
}

.tNFL-4 {
  color: #fb4f14;
  background-color: #000000;
}

.tNFL-5 {
  color: #472a08;
  background-color: #ff3c00;
}

.tNFL-6 {
  color: #002a5c;
  background-color: #b0b7bc;
}

.tNFL-7 {
  color: #0a2343;
  background-color: #fc4c02;
}

.tNFL-8 {
  color: #0076b6;
  background-color: #bbbbbb;
}

.tNFL-9 {
  color: #204e32;
  background-color: #ffb612;
}

.tNFL-34 {
  color: #00143f;
  background-color: #c41230;
}

.tNFL-11 {
  color: #003b75;
  background-color: #ffffff;
}

.tNFL-30 {
  color: #007487;
  background-color: #d7a22a;
}

.tNFL-12 {
  color: #e31837;
  background-color: #ffb612;
}

.tNFL-13 {
  color: #000000;
  background-color: #a5acaf;
}

.tNFL-24 {
  color: #0080c6;
  background-color: #ffc20e;
}

.tNFL-14 {
  color: #003594;
  background-color: #ffd100;
}

.tNFL-15 {
  color: #008e97;
  background-color: #fc4c02;
}

.tNFL-16 {
  color: #4f2683;
  background-color: #ffc62f;
}

.tNFL-17 {
  color: #002a5c;
  background-color: #c60c30;
}

.tNFL-18 {
  color: #d3bc8d;
  background-color: #000000;
}

.tNFL-19 {
  color: #003c7f;
  background-color: #c9243f;
}

.tNFL-20 {
  color: #115740;
  background-color: #ffffff;
}

.tNFL-21 {
  color: #06424d;
  background-color: #000000;
}

.tNFL-23 {
  color: #000000;
  background-color: #ffb612;
}

.tNFL-25 {
  color: #aa0000;
  background-color: #b3995d;
}

.tNFL-26 {
  color: #002a5c;
  background-color: #69be28;
}

.tNFL-27 {
  color: #bd1c36;
  background-color: #3e3a35;
}

.tNFL-10 {
  color: #4b92db;
  background-color: #002a5c;
}

.tNFL-28 {
  color: #5a1414;
  background-color: #ffb612;
}

.tNBA-1 {
  color: #c8102e;
  background-color: #fdb927;
}
.tNBA-2 {
  color: #008348;
  background-color: #ffffff;
}
.tNBA-17 {
  color: #000000;
  background-color: #ffffff;
}
.tNBA-30 {
  color: #008ca8;
  background-color: #1d1060;
}
.tNBA-4 {
  color: #ce1141;
  background-color: #000000;
}
.tNBA-5 {
  color: #860038;
  background-color: #bc945c;
}
.tNBA-6 {
  color: #0064b1;
  background-color: #bbc4ca;
}
.tNBA-7 {
  color: #0e2240;
  background-color: #fec524;
}
.tNBA-8 {
  color: #1d428a;
  background-color: #c8102e;
}
.tNBA-9 {
  color: #fdb927;
  background-color: #1d428a;
}
.tNBA-10 {
  color: #ce1141;
  background-color: #000000;
}
.tNBA-11 {
  color: #002d62;
  background-color: #fdbb30;
}
.tNBA-12 {
  color: #1d428a;
  background-color: #c8102e;
}
.tNBA-13 {
  color: #552583;
  background-color: #fdb927;
}
.tNBA-29 {
  color: #5d76a9;
  background-color: #12173f;
}
.tNBA-14 {
  color: #98002e;
  background-color: #000000;
}
.tNBA-15 {
  color: #00471b;
  background-color: #eee1c6;
}
.tNBA-16 {
  color: #266092;
  background-color: #79bc43;
}
.tNBA-3 {
  color: #0a2240;
  background-color: #b4975a;
}
.tNBA-18 {
  color: #1d428a;
  background-color: #f58426;
}
.tNBA-25 {
  color: #007ac1;
  background-color: #ef3b24;
}
.tNBA-19 {
  color: #0077c0;
  background-color: #c4ced4;
}
.tNBA-20 {
  color: #1d428a;
  background-color: #e01234;
}
.tNBA-21 {
  color: #29127a;
  background-color: #e56020;
}
.tNBA-22 {
  color: #e03a3e;
  background-color: #000000;
}
.tNBA-23 {
  color: #5a2d81;
  background-color: #6a7a82;
}
.tNBA-24 {
  color: #000000;
  background-color: #c4ced4;
}
.tNBA-28 {
  color: #d91244;
  background-color: #000000;
}
.tNBA-26 {
  color: #000000;
  background-color: #fff21f;
}
.tNBA-27 {
  color: #e31837;
  background-color: #002b5c;
}

.tMLB-29 {
  color: #aa1f2e;
  background-color: #000000;
}
.tMLB-15 {
  color: #0c2340;
  background-color: #ba0c2f;
}
.tMLB-1 {
  color: #df4601;
  background-color: #000000;
}
.tMLB-2 {
  color: #0d2b56;
  background-color: #bd3039;
}
.tMLB-16 {
  color: #0e3386;
  background-color: #cc3433;
}
.tMLB-4 {
  color: #000000;
  background-color: #c4ced4;
}
.tMLB-17 {
  color: #c6011f;
  background-color: #ffffff;
}
.tMLB-5 {
  color: #002b5c;
  background-color: #e31937;
}
.tMLB-27 {
  color: #33006f;
  background-color: #000000;
}
.tMLB-6 {
  color: #002d5c;
  background-color: #ff6600;
}
.tMLB-18 {
  color: #002d62;
  background-color: #eb6e1f;
}
.tMLB-7 {
  color: #004687;
  background-color: #7ab2dd;
}
.tMLB-3 {
  color: #ba0021;
  background-color: #c4ced4;
}
.tMLB-19 {
  color: #005a9c;
  background-color: #ffffff;
}
.tMLB-28 {
  color: #00a3e0;
  background-color: #000000;
}
.tMLB-8 {
  color: #13294b;
  background-color: #ffc72c;
}
.tMLB-9 {
  color: #031f40;
  background-color: #e20e32;
}
.tMLB-21 {
  color: #002d72;
  background-color: #ff5910;
}
.tMLB-10 {
  color: #132448;
  background-color: #c4ced4;
}
.tMLB-11 {
  color: #006241;
  background-color: #efb21e;
}
.tMLB-22 {
  color: #e81828;
  background-color: #003278;
}
.tMLB-23 {
  color: #000000;
  background-color: #fdb827;
}
.tMLB-25 {
  color: #3e2312;
  background-color: #ffc425;
}
.tMLB-26 {
  color: #000000;
  background-color: #fd5a1e;
}
.tMLB-12 {
  color: #005c5c;
  background-color: #0c2c56;
}
.tMLB-24 {
  color: #be0a14;
  background-color: #001541;
}
.tMLB-30 {
  color: #092c5c;
  background-color: #8fbce6;
}
.tMLB-13 {
  color: #003278;
  background-color: #c0111f;
}
.tMLB-14 {
  color: #134a8e;
  background-color: #6cace5;
}
.tMLB-20 {
  color: #ab0003;
  background-color: #11225b;
}
